* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background: #f0f0f0;
}

h1 {
  text-align: center;
  margin: 2rem 0 4rem 0;
  color: #3f3f3f;
}

.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #ffffff;
}

.accordion-title{
  padding: 1rem;
  font-size: 18px;
}

.accordion-content {
  padding: 0px 10px;
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
  font-size: 16px;
}


.accordion-content.expanded {
  height: auto;
}

.accordion-content {
  background-color: #ffffff;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 90%;
  }
}